<div class="container" style="margin-top:10px;">
    	<div class="row-fluid">
            <div class="pull-left" style="width:228px;">
                <%= image_tag(@me.avatar_url, :class => "img-polaroid", :size => "210x210") %>
            </div>
            <div class="social-icons pull-left" style="width:940px;">
            	<ul class="pull-right">
                    <a href="#"><%= image_tag("facebook.png", :alt => "Facebook", :size => "28x28") %></a>
                    <a href="#"><%= image_tag("twitter.png", :alt => "Twitter", :size => "28x28") %></a>
                    <a href="#"><%= image_tag("googleplus.png", :alt => "Google Plus", :size => "28x28") %></a>
                </ul>
                <h2 style="line-height:25px;"><%= @me.username %> <br/>
                    <small style="padding-left:2px; font-size:14px">Alternative Rock <span>- <%= @me.city %>, <%= @me.country %></span></small>
                </h2>
                <iframe src="http://widget.stagram.com/in/maria_melodia/?s=120&w=7&h=1&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:940px; height: 135px; margin-top:10px;"></iframe>
            </div>
        </div>
    	<div class="row-fluid"  style="margin-top:10px;">
        	<div class="span7">
            	<div style="background-color:#444;padding:10px 15px; color:#fff;"><h4 style="font-weight: 200;">Recent updates</h4></div>
            	<div class="thumbnail-text">
                	<div class="form-inline" align="center">
                        <form>
                            <input type="text" class=" input-xxlarge" placeholder="Share something with your fans">
                            <button type="submit" class="btn">Share</button>
                            <div align="left"><small style="padding:5px 0 0 20px;"><a href="#">attach picture</a></small></div>
                        </form>
                    </div>
                    <hr>
                  <span>É o que testemunhamos neste concerto gravado no chão do Marco Zero, na ilha holandesa do Recife Velho ou Antigo, porta e farol da cidade para o mundo. Ouviram não só do Ipiranga, ouviram d´África, onde os tambores da Nação fazem reverberar o escambo de oferendas no terreiro afro-beat. 
  
  Mais do que um show, o DVD mostra a liga orgânica entre a cidade e a banda. Rios, pontes, overdrives e impressionantes coreografias da massa vistas por câmeras aéreas. Os “extras” completam essa lição geográfica da fome afetiva com um rolê por alguns pontos como o Mercado de São José e o bairro de Peixinhos, Olinda, de onde veio a “cozinha” percussiva do grupo. 
  
  No repertório, clássicos dos tempos de Chico Science são mesclados com a história da NZ até hoje. Fred 04, parceiro da origem do mangue beat; Siba com a loa-metal da sua Fuloresta; Arnaldo Antunes e Paralamas do Sucesso fazem participações especiais. 
  
  Este DVD é um documento digno daquela que é, desde o nascedouro, nos anos 90, a melhor e mais expressiva banda brasileira. Não é fácil se manter com essa garantia e resistência do grupo formado por Jorge Du Peixe, Pupillo, Lúcio Maia, Dengue, Toca Ogan, Gilmar Bola 8, Da Lua e Marcos Matia. - See more at: http://www.nacaozumbi.com.br/#sthash.ZkyUYww6.dpuf</span>
                  <hr>
                  <span>
                  	<h3>verdade é igual mertiolate arde mas acaba funcionando como remédio também.Primeiro vem o ardor do instante, depois vem a cura pro machucado</h3>
                    <img alt="Tumblr_mdx29xahmi1r8rt3po1_500_large" src="http://data.whicdn.com/images/44089346/tumblr_mdx29xAHmI1r8rt3po1_500_large.jpg">
                  </span>
                  <hr>
                  <span><img src="http://25.media.tumblr.com/2fdac407b479dc6a4badeb17e69737ea/tumblr_mfe2adlMab1rjazmfo1_400.jpg"></span>
                  <hr>
				</div>
        	</div>
        	
        	<div class="span5" style="border-top:#ccc solid 5px;">
            	<div style=" padding:10px 15px; background-color:#f2f2f4; text-transform:uppercase; margin-top:10px;"><b>Upcoming Concerts</b></div>
                <table class="table table-condensed" style="font-size:12px; border-bottom:#ccc solid 5px;max-height:300px !important; overflow:auto;">
                	<thead>
                    	<tr>
                        	<th>Date</th>
                            <th>Local</th>
                            <th>City</th>
                            <th>Tickets</th>
                        </tr>
                    </thead>
                    <tbody style="">
                    	<tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                        <tr>
                        	<td>01-ago-13</td>
                            <td>Music Hall</td>
                            <td>Belo Horizonte, Brasil</td>
                            <td><a href="#" target="_blank" class="btn btn-mini btn-danger">Buy tickets</a></td>
                        </tr>
                    </tbody>
                </table>
                <iframe style="width:100%" height="285" src="http://www.youtube.com/embed/wIgrPf1TCXc" frameborder="0" allowfullscreen></iframe>
                <iframe style="width:100%" height="285" src="http://www.youtube.com/embed/cIdhtP6018g" frameborder="0" allowfullscreen></iframe>
                <iframe style="width:100%" height="285" src="http://www.youtube.com/embed/ivDizTT0aBg" frameborder="0" allowfullscreen></iframe>
                <div id="fb-root"></div>
                <div style="padding-top:10px;" class="fb-comments" data-href="http://jobconvo.com" data-width="470" data-num-posts="10"></div>
        	</div>
        </div>
    </div> <!-- /container -->
    <hr>
    <%= javascript_include_tag 'instafeed.min.js' %>
    <%= javascript_include_tag 'http://stratus.sc/stratus.js' %>
    <script type="text/javascript">
	  $(document).ready(function(){
		$.stratus({
			auto_play: false,
			links: 'https://soundcloud.com/maria-melodia/sets/debut',
			random: true,
			download: true,
		});
	  });
	</script>
	<script type="text/javascript">
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=450859074991785";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    </script>